html *{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 2em;
    background-color: black;
    color: white;
}

main{
    display: flex;
    column-gap: 2em;
}

section{
    width: 20vw;
}

h2{
    border: 1px solid;
    padding: 10px;
}

ul{
    list-style: none;
}

li{
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    color: black;
    position: relative;
    box-sizing:border-box;
}

li:hover{
    border: 3px solid black;
    padding: 3px;
}

li:nth-child(1):after,li:nth-child(2):after,li:nth-child(3):after{
    content: "";
    background-color: red;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 70%;
    width: 8vw;
    height: 3vh;
    padding: 0px;
}

li:nth-child(1):hover:after,li:nth-child(2):after:hover,li:nth-child(3):after:hover{
background-color: blue;
}

.active{
    background-color: orange;
}